/*Game page css*/

body{
    text-align: center;
}
div.game {
    display: inline-block;
    margin: 1em auto;
    border: thin solid black;
    padding: 1em 0;
}

div.game div.row {
    display: block;
    padding: 0;
    height: 50px;
    white-space: nowrap;
}

div.game div.cell {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    width: 50px;
    height: 50px;
    min-height: 50px;
    min-width: 50px;
}

/* format.inc.php css */

header {
    margin-top: 4em;
    margin-bottom: 4em;
    text-align: center;
}

/* index.php css */

input[type="text"] {
    width: 13.5em;
    margin-left: .5em;
}

input[type="submit"] {
    width: 8em;
}

fieldset {
    width: 16em;
    margin-left: auto;
    margin-right: auto;
    border: solid 0.1em #000000;
    padding-top: 0em;
    padding-right: 1em;
    padding-left: 1em;
}

select {
    width: 7.825em;
}

/* winlose.php css */

div.winmessage, #newgamebutton {
    text-align: center;
    margin-bottom: 6em;
}